In [1]:
import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('bbdd_evolve.db')

# Crear un cursor
cursor = conn.cursor()

cursor.execute("SELECT * FROM T_ALUMNOS") # el asterisco signica que se seleccionan todos los campos
alumnos = cursor.fetchall() # fetchall() devuelve una lista con los registros obtenidos
print(alumnos)

cursor.execute("SELECT * FROM T_ALUMNOS LIMIT 2") # LIMIT 2 limita el número de registros a 2
alumnos = cursor.fetchall()
print(alumnos)

cursor.execute("SELECT * FROM T_ALUMNOS ORDER BY Nombre") # ORDER BY Name ordena los registros por el campo Name
alumnos = cursor.fetchall()
print(alumnos)

cursor.execute("SELECT * FROM T_CURSOS WHERE categoria_curso = 'Master' and subcategoria_curso = 'IA'") # WHERE filtra los registros por los campos indicados
cursos = cursor.fetchall()
print(cursos) 

cursor.execute("""SELECT 
               T_CURSOS.categoria_curso, T_CURSOS.subcategoria_curso, T_CURSOS.id_profesor,
               T_PROFESORES.nombre_profesor
               FROM T_CURSOS, T_PROFESORES
               WHERE T_CURSOS.id_profesor = T_PROFESORES.id_profesor """) # WHERE filtra los registros por los campos indicados y se pueden hacer consultas en varias tablas a la vez 
alumnos = cursor.fetchall()
print(alumnos) # se obtiene una lista de tuplas con los registros obtenidos 

cursor.execute("""SELECT 
               T_CURSOS.categoria_curso, T_CURSOS.subcategoria_curso,
               T_PROFESORES.nombre_profesor,
               T_ALUMNOS.nombre
               FROM T_CURSOS, T_PROFESORES, T_MATRICULAS, T_ALUMNOS
               WHERE T_CURSOS.id_profesor = T_PROFESORES.id_profesor
               AND T_MATRICULAS.id_curso = T_CURSOS.id_curso
               AND T_MATRICULAS.id_alumno = T_ALUMNOS.id_alumno""")
alumnos = cursor.fetchall() # se obtiene una lista de tuplas con los registros obtenidos con los campos seleccionados
for alumno in alumnos:
    print(alumno)

# Crear un DataFrame de Pandas
df = pd.read_sql_query("SELECT * FROM T_ALUMNOS", conn) # se puede hacer una consulta a la base de datos y cargarla en un DataFrame
print(df)

cursor.execute("""SELECT 
               T_ALUMNOS.nombre, 
               T_PROFESORES.nombre_profesor,
               T_CURSOS.id_profesor,
               T_MATRICULAS.id_alumno
               FROM T_ALUMNOS, T_PROFESORES, T_CURSOS, T_MATRICULAS
               WHERE T_ALUMNOS.id_alumno = T_MATRICULAS.id_alumno
               AND T_MATRICULAS.id_curso = T_CURSOS.id_curso
               AND T_CURSOS.id_profesor = T_PROFESORES.id_profesor and nombre_profesor = 'Julio Valero'""")
alumnos = cursor.fetchall()
for alumno in alumnos:
    print(alumno)

# Cierra la conexión
conn.close() # es importante cerrar la conexión para liberar los recursos de la base de datos

[(1, 'Alberto Garcia', '611222333', 'albertog@gmail.com'), (2, 'Luis Cara\n', '612222333', 'Luis@gmail.com'), (3, 'Sergio Lopez', '613222333', 'sergio@gmail.com'), (4, 'Alberto Bravo', '614222333', 'albertob@gmail.com')]
[(1, 'Alberto Garcia', '611222333', 'albertog@gmail.com'), (2, 'Luis Cara\n', '612222333', 'Luis@gmail.com')]
[(4, 'Alberto Bravo', '614222333', 'albertob@gmail.com'), (1, 'Alberto Garcia', '611222333', 'albertog@gmail.com'), (2, 'Luis Cara\n', '612222333', 'Luis@gmail.com'), (3, 'Sergio Lopez', '613222333', 'sergio@gmail.com')]
[(1, 'Master', 'IA', 'estadistica', '01.01.25', '01.06.25', 1), (2, 'Master', 'IA', 'Python', '01.01.25', '01.06.25', 2), (3, 'Master', 'IA', 'SQL', '01.01.25', '01.06.25', 3)]
[('Master', 'IA', 1, 'Julio Valero'), ('Master', 'IA', 2, 'Leo Barrientos'), ('Master', 'IA', 3, 'Rodrigo Aguilar'), ('Curso', 'Ciberseguridad', 4, 'Pamela Castro'), ('Curos\n', 'Programacion', 2, 'Leo Barrientos')]
('Master', 'IA', 'Julio Valero', 'Alberto Garcia')
('Master', 'IA', 'Julio Valero', 'Luis Cara\n')
('Master', 'IA', 'Julio Valero', 'Sergio Lopez')
   id_alumno          nombre   telefono               email
0          1  Alberto Garcia  611222333  albertog@gmail.com
1          2     Luis Cara\n  612222333      Luis@gmail.com
2          3    Sergio Lopez  613222333    sergio@gmail.com
3          4   Alberto Bravo  614222333  albertob@gmail.com
('Alberto Garcia', 'Julio Valero', 1, 1)
('Luis Cara\n', 'Julio Valero', 1, 2)
('Sergio Lopez', 'Julio Valero', 1, 3)